@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-lato);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald);
}

.home {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}
