@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-lato);
  font-size: large;
}

body{
    background-image: url('https://images.pexels.com/photos/7135054/pexels-photo-7135054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald);
}
